.join {
    padding: 50px 0 70px;
    background-image: url(../images/join.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    .wrapper {
        position: relative;
        z-index: 2;
    }
    .left-side {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        height: 100%;
        width: -webkit-calc(50% + 400px);
        width: calc(50% + 400px);
        background-color: $purple;
        opacity: 0.97;
        @media (max-width: 1200px) {
            width: 100%;
        }
    }

    .right-side {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: -webkit-calc(50% - 400px);
        width: calc(50% - 400px);
        background-color: $blue;
        opacity: 0.97;
        @media (max-width: 1200px) {
            display: none;
        }
    }


    .person-image {
        position: absolute;
        bottom: 0;
        right: -webkit-calc(50% - 400px);
        right: calc(50% - 400px);
        -webkit-transform: translateX(160px);
        -ms-transform: translateX(160px);
        -o-transform: translateX(160px);
        transform: translateX(160px);
        @media (max-width: 1200px) {
            right: 0;
            -webkit-transform: none;
               -moz-transform: none;
                -ms-transform: none;
                 -o-transform: none;
                    transform: none;
        }
        @media (max-width: 700px) {
            max-height: 100%;
            opacity: .6;
        }
    }

    .form {
        width: 400px;
        display: block;
        margin-left: 200px;
        max-width: 100%;
        @media (max-width: 1200px) {
            margin: 0 auto;
        }
        &-title {
            font-size: 28px;
            color: $white;
            font-family: $cb;
            margin-bottom: 65px;
        }
    }
}