.offer {
    @include flex($direction: column, $justify: center);
    height: 100%;
    max-height: 920px;
    min-width: 500px;
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.sboutIcons {
    @include flex($alignI: flex-start);
    padding: 40px 0 0;
    &__item {
        width: 33.332%;
        i {
            display: inline-block;
            vertical-align: top;
            width: 80px;
            text-align: left;
        }
        p {
            display: inline-block;
            vertical-align: top;
            width: 230px;
            text-align: left;
            margin-left: 15px;
            font: 16px/22px $cb;
            color: #333146;
        }
    }
}

.advantages {
    @include flex($alignI: flex-start);
    &__item {
        width: 25%;
        padding: 0 15px;
        i {
            display: block;
            overflow: hidden;
            margin-bottom: 14px;
            -webkit-border-radius: 4px;
                    border-radius: 4px;
            img {
                width: 100%;
            }
        }
        p {
            color: #0D1321;
            font-size: 15px;
            padding: 0 25px;
        }
    }
}

.listInfo {
    @include flex($alignI: stretch);
    &__list,
    &__img {
        width: 50%;
    }
    &__list {
        padding: 130px 120px;
        background-color: $purple;
    }
    ul {
        list-style-type: none;
        position: relative;
        li {
            color: #FFF;
            font-size: 18px;
            line-height: 30px;
            font-family: $osb;
            margin-bottom: 50px;
            &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                margin-right: 55px;
                width: 30px;
                height: 30px;
                background-color: $purple;
                position: relative;
                z-index: 2;
                -webkit-box-sizing: border-box;
                   -moz-box-sizing: border-box;
                        box-sizing: border-box;
                margin-left: -15px;
                border: 8px solid #fffaff;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
            }
            span {
                display: inline-block;
                vertical-align: middle;
                max-width: -webkit-calc(100% - 75px);
                max-width: calc(100% - 75px);
            }
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            left:0;
            top:40px;
            bottom:40px;
            width: 1px;
            background-color: #bab2ff;
            opacity: .15;
        }
    }
    &__img {
        background-position: 50% 50%;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
}

.timeline {
    &__img {
        max-width: 100%;
        margin-bottom: 50px;
    }
    &__info {
        @include flex($alignI: flex-start);
        ul {
            width: 25%;
            list-style-type: none;
            padding: 0 30px;
            li {
                font: 18px/30px $osb;
                margin-bottom: 20px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
            &:last-of-type {
                li {
                    color: #3da8cc;
                }
            }
        }
    }
}