
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
    font: 15px $os;
}

h1 {
    font: 70px $cb;
    color: #FFF;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
}
// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
