// COLORS
// ---------------------------
$blue: #4dafd0;

// FONTS
// ---------------------------
$cb:  'Caviar Dreams Bold';

$os: 'Open Sans';
$oss: 'Open Sans Semibold';
$osb: 'Open Sans Bold';

// RESPONSIVE
// ---------------------------
