// COLORS
// ---------------------------

$text:                      #0d1321;
$purple:                    #333146;
$blue:                      #3da8cc;
$light-blue:                #c5d1eb;
$white:                     #fffaff;


// FONTS
// ---------------------------
$o:                         'Open Sans';
$ob:                        'Open Sans Bold';
$osb:                       'Open Sans Semibold';

$cb:                        'Caviar Dreams Bold';


// RESPONSIVE
// ---------------------------
